<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<!-- 读取Properties配置文件 -->
	<context:property-placeholder location="classpath:application.properties"/>

	<import resource="spring/spring-domain.xml" />
	<import resource="spring/spring-service.xml" />
	<import resource="spring/spring-dao.xml" />
	<import resource="spring/spring-datasource.xml" />

</beans>