<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean id="httpDao" class="com.rainsoft.dao.impl.HttpDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="ftpDao" class="com.rainsoft.dao.impl.FtpDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="imchatDao" class="com.rainsoft.dao.impl.ImchatDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="bbsDao" class="com.rainsoft.dao.impl.BbsDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="emailDao" class="com.rainsoft.dao.impl.EmailDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="realDao" class="com.rainsoft.dao.impl.RealDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="searchDao" class="com.rainsoft.dao.impl.SearchDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="shopDao" class="com.rainsoft.dao.impl.ShopDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="serviceDao" class="com.rainsoft.dao.impl.ServiceDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="vidDao" class="com.rainsoft.dao.impl.VidDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="weiboDao" class="com.rainsoft.dao.impl.WeiboDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>