<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- 集群版配置 -->
    <bean id="solrClient" class="org.apache.solr.client.solrj.impl.CloudSolrClient">
        <constructor-arg value="${zkHost}"/>
        <property name="zkClientTimeout" value="30000"/>
        <property name="zkConnectTimeout" value="50000"/>
        <property name="defaultCollection" value="${solr.collection}"/>
    </bean>
    <!-- 单机版配置 -->
    <!--
    <bean id="solrClient" class="org.apache.solr.client.solrj.impl.HttpSolrClient">
        <constructor-arg index="0" value="${solr.url}"/>
        <property name="parser">
            <bean class="org.apache.solr.client.solrj.impl.XMLResponseParser"/>
        </property>
        <property name="maxTotalConnections" value="1"/>
        <property name="connectionTimeout" value="1000"/>
    </bean>
    -->
</beans>